In [2]:
# 코드 실행 시 문장 부호가 사라졌고 모두 소문자로 바뀌었음

import pandas as pd

df = pd.read_csv('./data/170925_movie_review_refiend.csv', encoding='CP949')
df.head()

                                              review  sentiment
0  in 1974 the teenager martha moxley maggie grac...          1
1  ok so i really like kris kristofferson and his...          0
2   spoiler do not read this if you think about w...          0
3  hi for all the people who have seen this wonde...          1
4  i recently bought the dvd forgetting just how ...          0